<!-- Section: Blog v.1 -->
<section class="my-5">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">
            <!-- Post title -->
            <div>
                <h3 class="font-weight-bold mb-3">
                    <strong>Hotel Ananthaya</strong>
                </h3>
                <h3 class="font-weight-bold mb-3">
                    <strong>50</strong> % OFF
                </h3>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt...
                </p>
                <p>
                    <b>Phone:</b> +94776967402
                </p>
                <p>
                    <b>Status:</b> Published
                </p>
            </div>
            <div class="offer-actions">
                <!-- Edit post button -->
                <a class="btn btn-lg btn-primary" routerLink="/post/1" routerLinkActive="active">Edit</a>

                <!-- Edit post button -->
                <a class="btn btn-lg btn-success" routerLink="/post/1" routerLinkActive="active">Save Changes</a>

                <!-- Delete post button -->
                <a class="btn btn-lg btn-danger" routerLink="/post/1" routerLinkActive="active">Delete</a>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <hr class="my-5">
        <!-- Grid row -->
        <div class="row">
                <!-- Grid column -->
                <div class="col-lg-5">
                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
        
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-lg-7">
                    <!-- Post title -->
                    <div>
                        <h3 class="font-weight-bold mb-3">
                            <strong>Hotel Ananthaya</strong>
                        </h3>
                        <h3 class="font-weight-bold mb-3">
                            <strong>50</strong> % OFF
                        </h3>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt...
                        </p>
                        <p>
                            <b>Phone:</b> +94776967402
                        </p>
                        <p>
                            <b>Status:</b> Published
                        </p>
                    </div>
                    <div class="offer-actions">
                        <!-- Edit post button -->
                        <a class="btn btn-lg btn-primary" routerLink="/post/1" routerLinkActive="active">Edit</a>
        
                        <!-- Edit post button -->
                        <a class="btn btn-lg btn-success" routerLink="/post/1" routerLinkActive="active">Save Changes</a>
        
                        <!-- Delete post button -->
                        <a class="btn btn-lg btn-danger" routerLink="/post/1" routerLinkActive="active">Delete</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

</section>
<!-- Section: Blog v.1 -->